@charset "utf-8";
/* CSS Document  for the College of Engineering IT support

  CSS Vars  
  to access the value later use var( --<varname> )
*/



:root{
  --AZBlue: #002868;
  --AZYellow: #FED700;
  --AZRed: #BF0A30;
  --AZCopper: #CE5C17;
  --DarkGrey: #c1c1c1;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}


html {
	margin: 0;
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: row;
/*  min-width: 100vw; */
}

video {
  width: 100%;
  height: 50rem;
  position: relative;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

.sh1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: red;
  padding: 15px;
}

.sh3{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
}

.listImages{
   width: 600px;
   height: 400px;
}

.listDiv{
   text-align: center;
}

.listP{
   font-family: Arial, Helvetica, sans-serif;
   max-width: 600px;
   margin: auto;
   padding-top: 10px;
   text-align: left;
   line-height: 1.5;
}

.tableDiv{
   padding: 10px;
   
}

table {
   border-collapse: collapse;
   width: 50%;
   max-width: 600px;
   padding: 10px;
   margin: 0 auto;
   background-color: lightblue;
}
table, th, td {
   border: 1px solid black;
}
th, td {
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px;
   text-align: center;
}


.b {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}
.event {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.event h2 {
  margin-top: 0;
}
.event p {
  margin-bottom: 0;
}

.headerman{
  position: relative;
  justify-content: inline-block;
  margin: auto;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
}

.headerman img{
  height: 500px;
  margin: auto;
  position: absolute;
  display: block;
}

.support{
  background-color: var(--AZRed);
  button{
    background-color: var(--AZYellow);
  }
}

.event {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.event h2 {
  margin-top: 0;
}
.event p {
  margin-bottom: 0;
}

.maincontent {
  margin-bottom: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 
  Footer content
*/

#footer-site{
  background: var(--AZBlue);
  margin-top:2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  position: relative;
  bottom: 0;
  color: white;
  :link{
    color: white;
  }
}

.footer-container{
  margin-bottom: 0px;
  margin-left: 5px;
  bottom: 0;
}

#footer-site #footer-logo-img{
  height:auto;
  margin:0 auto 1rem;
  max-width:360px;
  width:80%;
}

#footer-site ul{
  display:inline-block;
  margin:0;
  padding:1rem 0 0;
}

#footer-site ul>li{
  border-right:1px solid #b6bec1;
  display:inline-block;
  list-style:none;
/*  padding:0 .75rem; */
}

#footer-site ul>li.last{
  border-right:0;
}

#footer-site a{
  color:#333;
  text-decoration:underline;
}

#footer-site #footer-copyright{
  float:left;width:100%;
}

.tab {
  margin-left: 40px;
}       

.short_tab {
  margin: auto;
  justify-content: center;
  vertical-align: center;
  flex-direction: wrap;
  display: flex;
  margin-bottom: 16px;
}


/* box outline for where icons are to be placed into*/

.caption {
  max-width:100%;
  height: auto;
  margin: 20px;
  flex-wrap: wrap;
  font-size: 12px;
  flex-direction: column;
  text-align: center;
  justify-content: center;

} 

/*
  tab styling
*/
.tabnames {
  overflow: hidden;
  border: 2px solid var(--AZBlue);
  background-color: #f1f1f1;
}
/* Style the buttons that are used to open the tab content */
.tabnames button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
}

/* Change background color of buttons on hover */
.tabnames button:hover {
  background-color: #c5bdbd;
}

/* Create an active/current tablink class */
.tabnames button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.no-bullets {
  list-style-type: none;
}

.logo{
  justify-content: center;
  display: inline-block;
  position: relative;
}

.hide{
  display: none;
}

.sendDesc:hover + .hide{
  display: block;
  color: black
}
