body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}
header {
    background-image: url('C:/Users/purva/Downloads/Events image.jpg');
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 130px;
}
